Checks: >
    -*,
    bugprone-unused-raii,
    misc-header-include-cycle,
    misc-include-cleaner,
    modernize-use-noexcept,

WarningsAsErrors: true

HeaderFilterRegex: '^(?!.*(build|dependencies)).*'

---
-std=c++20
-extra-arg=-Iincludes

